body, main{
    display: flex;
}

body{
    flex-direction: column;
}

main{
    flex-direction: row;
    flex: auto;
    border: solid 1px salmon;
}

nav{
    background-color: salmon;
}

header>nav>ul {
    padding: 20px;
}

article{
    flex: 2;
}

aside{
    flex: 1;
}

article, aside{
    overflow-y: auto;
}

footer{
    background-color: #000000;
    color: #ffffff;
}

footer>p{
    padding: 20px;
    text-align: center;
    margin: auto;
}